<div class = "blog-form-container">
<%= form_for @background do |b| %>
    <p>
    <%= b.label :About %><br />
    <div data-no-turbolink><%= b.text_area :about, :class => 'ckeditor'  %></div>
  </p>

  <p>
    <%= b.label :Contact %><br />
    <div data-no-turbolink><%= b.text_area :contact, :class => 'ckeditor'  %></div>
  </p>

  <p><%= b.submit "Update"%></p>

<% end %>
</div>