<div class = "blog-form-container">
<%= form_for @interest do |i| %>
    <p>
    <%= i.label :Interests %><br />
    <div data-no-turbolink><%= i.text_area :topics, :class => 'ckeditor'  %></div>
  </p>

  <p>
    <%= i.label :positions %><br />
    <div data-no-turbolink><%= i.text_area :positions, :class => 'ckeditor'  %></div>
  </p>

  <p><%= i.submit "Update"%></p>

<% end %>
</div>