<% provide(:title, 'Research') %>

<h1 class = 'research-title'>Research</h1>

<% if @resumes.count > 0 %> <!-- if there is a resume uploaded -->

<%= link_to (@resume.attachment.url) do %>
		<%= image_tag(("cv-icon.png"), :class => "cv-icon") %>
		<i><p class = 'dimensions' id = 'medium'>Curriculum Vitae</p></i>
<% end %>

<% else %>
<% end %>


<div class = "research-description">
	<p id = "research-headings">Interests</p>
	<p><%= @interest.topics.html_safe %></p>
</div>

<div class = "research-description">
	<p id = "research-headings">Positions</p>
	<p><%= @interest.positions.html_safe %></p>
</div>

<div class = "research-description">
	<p id = "research-headings">Outreach</p>

	<p id = "research-headings-small">Education</p>
	<% for doc in @education do %>
		<p id = "doc-title"><%= doc.title%></p> <p id = "doc-link"> — 
			<% if doc.document? %> 
				<%= link_to "Link", doc.document.url, target: "_blank" %>
			<% else %>
				<%= link_to "Link", doc.link, target: "_blank" %>
			<% end %>
		</p>
		<p id = "outreach-description">
			<%= doc.description %>
		</p>
	<% end %>

	<p id = "research-headings-small">Interviews</p>
	<% for doc in @interviews do %>
		<p id = "doc-title"><%= doc.title%></p> <p id = "doc-link"> — 
			<% if doc.document? %> 
				<%= link_to "Link", doc.document.url, target: "_blank" %>
			<% else %>
				<%= link_to "Link", doc.link, target: "_blank" %>
			<% end %>
		</p>
		<p id = "outreach-description">
			<%= doc.description %>
		</p>
	<% end %>

	<p id = "research-headings-small">Media</p>
	<% for doc in @media do %>
		<p id = "doc-title"><%= doc.title%></p> <p id = "doc-link">— 
			<% if doc.document? %> 
				<%= link_to "Link", doc.document.url, target: "_blank" %>
			<% else %>
				<%= link_to "Link", doc.link, target: "_blank" %>
			<% end %>
		</p>
		<p id = "outreach-description">
			<%= doc.description %>
		</p>
	<% end %>
</div>








<% if false %>
<div class = "image-show-description">
	<p id = "research-headings">Interests</p>
	<p><%= @interest.topics.html_safe %></p>
</div>

<div class = "image-show-description">
	<p id = "research-headings">Positions</p>
	<p><%= @interest.positions.html_safe %></p>
</div>

<% end %>
